body{
    background-color : white;
    margin : 0;
    height : 100%;
}
h1{
    text-align: center;
    margin-left : 200px;
    line-height : 1;
}
a{
    margin : 0;
}
h2{
    line-height: 1;
    margin-left : 210px;
}
p{
    line-height: 1.5;
    margin-left : 210px;
}
.last{
    margin-bottom : 55px;
}
footer p{
    line-height : 1;
    margin-left : 0px;
}
div{
    margin : 0;
}
h4{
    margin-left: 210px;
}
table{
    margin-left: 210px;
    border-collapse : collapse;
}
tr{
    background-color: #f2f2f2;
}
td{
    border: 1px solid black;
    padding: 8px;
}
th{
    border: 1px solid black;
    padding: 8px;
}
.wrapper{
    display : flex;
    position : relative;
    list-style-type: none;
    top : 45px;
}
.wrapper .sidebar{
    width: 200px;
    height: 100%;
    background: #4b4276;
    padding: 30px 0px;
    position: fixed;
    overflow : scroll;
}

.wrapper .sidebar h3{
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 20px;
    margin-top : 0px;
}

.wrapper .sidebar  li{
    padding: 14px 16px;
    margin : 0;
    border-bottom: 1px solid #bdb8d7;
    border-bottom: 1px solid rgba(0,0,0,0.05);
    border-top: 1px solid rgba(255,255,255,0.05);
}    

.wrapper .sidebar  li a{
    color: #bdb8d7;
    display: block;
    text-decoration: none;
    text-align : left;
}

.wrapper .sidebar  li:hover{
    background-color: #594f8d;
}

.wrapper .sidebar  li:hover a{
    color: #fff;
}
.start{
    margin-top : 45px;
}
.grey-bar{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color : #333;
    width : 100%;
    position : fixed;
    z-index : 1;
}
.green-bar{
    list-style-type: none;
    margin-left : 500px;
    margin-right : 0px;
    padding : 0;
    background-color : rgba(0,255,0,12);
}
.head1{
    display : block;
    color : white;
    text-align : center;
    padding : 12px 6px;
    text-decoration:wavy;
    border-radius: 5cm;
    width: 35%;
    font-size: 30px;
}
.head{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    float : right;
}
.head:hover {
  background-color: black;
}
ol{
    margin-left: 200px;
}
footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color : #333;
    color : white;
    text-align: center;
    z-index : 1; 
    }
.left{
    float : left;
}
.bottom{
    margin-bottom:50px;
    margin-left : 650px;
}
.bottom:link, .bottom:visited{
    text-decoration: none;
    border-radius: 20px;
    background-color: green;
    display : block;
    color : white;
    width : 150px;
    font-size: larger;
    text-align: center;
    margin-left : 600px;
    margin-bottom : 100px;
}
@media (min-width:992px){
    .left {
      float : left;
    }
}
@media(max-width : 992px){
    .center{
        font-size: small;
    }
}