<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DOM XSS</title>
</head>
<body>
    <h2>Welcome</h2>
    <script>
        var pos=document.URL.indexOf("name=")+5;
        document.write(document.URL.substring(pos,document.URL.length));
    </script>
    <p>This is no longer a DOM XSS vulnerable webpage!</p>
</body>
</html>